#container {
    padding: 2em;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

#button-container {
    position: fixed;
    top: 50px;
    right: 14px;
    z-index: 1;
}

.matrix-container {
    position: relative;
    padding: 2em;
}

.symbol {
    color: #000;
    padding: 2px;
    font-size: 2em;
}

.matrix-table-container {
    display: inline-block;
}

.matrix-with-braces {
    border: 2px solid #555555;
    padding: 8px;
    display: inline-block;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 0 0.1em;

    -webkit-border-radius: 10px/40px;
    -moz-border-radius: 10px/40px;
    border-radius: 10px/40px;
}

.matrix-table-input {
    min-width: 3.8em;
    max-width: 3.8em;
}

/* Hide arrows of inputs number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Hide arrows of inputs number for Mozilla*/
input[type=number] {
    -moz-appearance:textfield;
}

#statistics {
    width: 80%;
    margin-right: 10%;
    margin-left: auto;
    padding: 2em;
}

#time-container {
    width: 45%;
    padding: 2em;
    float: left;
    position: relative;
}

#multiplication-counter-container {
    width: 45%;
    padding: 2em;
    float: right;
    position: relative;
}